/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

#player1-color{
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
#player2-color{
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
#start{
  display: block;
  margin: 0 auto;
}
#start:hover{
  background-color: blueviolet;
}

input{
  text-align: center;
}
